.playlist {
    width: 100%;
    height: 100%;
    overflow-y: auto;
}

/* ===== FIRST PAGE ===== */
.firstpage {
    --bg:black;
    width: 100%;
    height: calc(100% - 140px);
    min-height: 500px;

    background: radial-gradient(var(--bg) 0%, transparent 34%);
    background-size: 500% 500%;
    background-position: 50% 68%;

    position: relative;
    overflow: hidden;
    transition: 0.5s;
}

/* thumbnail */
.thumbnail {
    width: 38.4%;
    max-width: 500px;
    min-width: 200px;
    min-height: 200px;
    aspect-ratio: 1 / 1;

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    box-shadow: 0 0 50px -13px black;
}

.thumbnail img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* ===== INFO ===== */
.info {
    display: flex;
    flex-direction: column;
    color: white;

    position: absolute;
    bottom: 0;
    left: 0;

    padding: 20px;
    text-shadow: 0 0 10px black;
    z-index: 10;
    transition: 0.2s;
}

.title {
    font-size: 26px;
    font-weight: 800;
}

.desc {
    font-size: 15px;
}

.playlistInfo {
    font-size: 13px;
    display: flex;
    flex-wrap: nowrap;
}

/* ===== OPTIONS ===== */
.options {
    display: flex;
    padding-top: 20px;
}

.opt {
    padding: 10px;
    transition: 0.1s;
}

.opt:hover {
    --color: white;
    transform: scale(1.02);
}

.like {
    padding-left: 0;
}

/* ===== PLAY BUTTON ===== */
.outer_btn {
    position: absolute;
    bottom: 0;
    right: 0;
    transition: 0.2s;
}

.playbtn {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    padding: 10px;

    background-color: var(--green);
    --color: black;

    display: flex;
    align-items: center;
    justify-content: center;

    margin-right: 30px;
    margin-bottom: 20px;
}

/* ===== STATES ===== */
.firstpageHidden {
    background-position: 50% 100%;
}

.infoHidden {
    transform: translateX(-100%);
}

.btnHidden {
    transform: translateX(100%);
}