.green .icon{
  --color:var(--green) !important;
}

.outerPlayer {
    position: absolute;
    max-width: 100%;
    width: 100%;
    height: 100%;
    transition: .4s;
    z-index: 100;
    top: 0;
}

.player {
    max-width: 100%;
    height: 100%;
    position: relative;
}

.player .main {
    position: absolute;
    background: radial-gradient(transparent 0%, rgba(0, 0, 0, 0.8) 100%);
    width: 100%;
    height: calc(100%);
    z-index: 10;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    padding-bottom: 20px;
}

.player .main.enableFeed{
    pointer-events: none;
}

.player .header,
.progressBar,
.coverArt .thumbnail>*,
.playerControl,
.player .playbtn,
.player .options {
    pointer-events: auto;
}

.player .header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.player .icon {
    width: 24px;
    height: 24px;
    --color: white;
    padding: 10px;

}

.player .header .title {
    font-weight: 800;
    font-size: 18px;
    color: white;
}

.coverArt {
    width: 100%;
    margin: 10px 0 0 0;
    height: 100%;
    transition: width 0.2s ease;
    opacity: 1;
}
.coverArt.minimize .thumbnail{
    align-items: end;
    justify-content: start;
}
.coverArt.minimize .thumbnail> *{
    border-radius: 10px;
    box-shadow: 0 0 20px -2px black;
    position: absolute;
    top: 100%;
    left: 0%;
    transform: translate(-28%, -72%) scale(0.4);
    transition: 0.4s ease;
}

.coverArt .thumbnail {
    overflow: hidden;
    height: 100%;
    width: 100%;
    position: relative;
    object-fit: contain;
}

.coverArt .thumbnail>* {
    border-radius: 10px;
    box-shadow: 0 0 20px -2px black;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 60%;
    transform: translate(-50%, -50%);
    transition: 0.4s ease;
    aspect-ratio: 1 / 1;
}

.meta {
    margin: 10px 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.meta .info {
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: center;
    color: white;
}

.meta .name {
    font-weight: 800;
    font-size: 20px;
}

.progressBar {
    max-width: 100%;
    padding: 10px;
    touch-action: none;
}

.progressBar .bar {
    width: 100%;
    height: 4px;
    background-color: #8080801f;
    border-radius: 2px;
    user-select: none;
    -webkit-user-select: none;
    /* Safari */
    -ms-user-select: none;
    /* old Edge */
    position: relative;
}

.progressBar .progress {
    width: 10%;
    background-color: white;
    border-radius: 2px;
    height: 100%;
    z-index: 2;
    position: absolute;
}
.progressBar .buffer{
        width: 16%;
    background-color: #ffffff3d;
    border-radius: 2px;
    height: 100%;
    position: absolute;
    z-index: 1;
}

.progressBar .label {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: var(--grey);
    font-size: 11px;
    margin-top: 8px;
    user-select: none;
    -webkit-user-select: none;
    /* Safari */
    -ms-user-select: none;
    /* old Edge */
}

.playerControl {
    width: 100%;
    margin-top: 20px;
}

.playerControl .options {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.playerControl .playbtn {
    padding: 10px;
    box-shadow: 0 0 10px -2px black;
    background-color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    aspect-ratio: 1 / 1;
}

.player .playbtn .icon {
    --color: black;
}

.outerPlayer.min {
    transform: translate(0, 110%);
    opacity: 0;
}


/* card */

.outerPlayerCard {
    width: 100%;
    padding: 10px;
    position: absolute;
    bottom: 70px;
    box-sizing: border-box;
    transition: 0.3s;
    --bg:rgba(0, 0, 0, 0.568);
}

.outerPlayerCard.min {
    transform: translate(0, 200%);
}


.playerCard {
    width: 100%;
    background: linear-gradient(45deg, black, var(--bg));
    box-shadow: 0 0 1px 0px var(--grey);
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    backdrop-filter: blur(40px);
    position: relative;
}

.playerCard .info {
    color: white;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
}

.playerCard .info .title {
    padding-bottom: 2px;
    font-size: 18px;
    font-weight: 800;
}

.playerCard .info .description {
    font-size: 12px;
    color: var(--grey);
}

.playerCard .playbtn {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    aspect-ratio: 1 / 1;
    height: 100%;
   
}
.icon{
    filter: drop-shadow(0px 0px 12px black);
    -webkit-filter: drop-shadow(0px 0px 12px black);
}

.playerCard .thumbnail {
    width: 50px;
    aspect-ratio: 1 / 1;
    border-radius: 10px;
    margin: 10px;
    background-color: var(--grey);
    display: flex;
    align-items: center;
    justify-content: center;
}

.playerCard .thumbnail>* {
    border-radius: 10px;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.cardBar{
    position: absolute;
    height: 2.5px;
    /* max-width: 100%; */
    bottom: 0;
    width: calc(100% - 20px);
    margin: 0 10px;
    box-sizing: border-box;
    background-color: #ffffff85;
}
.cardBar .progress{
    height: 100%;
    background-color: white;
}

























/* feed */
.backdropFeed {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    z-index: 0;
    background-color: white;
    scroll-snap-type: y mandatory;
    overscroll-behavior: contain;
}
.backdropFeed::after{
    content: "";
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    transition: 0.5s;
}
.backdropFeed.blur::after{
    backdrop-filter: blur(8px);
    pointer-events: unset;
}

/* hide scrollbar (important for clean look) */
.backdropFeed::-webkit-scrollbar {
    display: none;
}

.feedItem {
    width: 100%;
    height: 100vh;
    position: absolute;
    overflow: hidden;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    will-change: transform;
    scroll-snap-align: start;
    scroll-snap-stop: always;
}

/* media fill */
.feedItem video,
.feedItem img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    border-radius: 20px;
    box-shadow: 0 0 10px 0 black;
    will-change: transform;
    transform: translateZ(0);
}

/* optional dark overlay for readability */
.feedItem::after {
    content: "";
    position: absolute;
    inset: 0;
}