*{
  margin: 0;
  padding: 0;
}
body,
#root{
  --grey:rgb(179, 179, 179);
  --black:rgb(32, 32, 32);
  --color:var(--grey);
  --green:#1ed760;
  width: 100vw;
  height: 100vh;
  height:100dvh;
  background-color: var(--black) ;
  padding-top: env(safe-area-inset-top);
  padding-bottom: env(safe-area-inset-bottom);
}

.app{
  
  aspect-ratio: 9 / 16;
  box-shadow:  0 0 10px 0 black;
  border-radius: 20px 20px 0 0;
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translate(-50%,0);
  height: 100vh;
  height:101dvh;
  /* max-height: 700px; */
  overflow: hidden;
  background-color: rgb(19, 19, 19);
  padding-top: env(safe-area-inset-top);
  padding-bottom: env(safe-area-inset-bottom);
  
}
@media (max-width:600px) {
  .app{
    width: 100%;
    max-width: none;
    border-radius: 0;
    height: 100vh;
    height:100dvh;
    max-height: none;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    transform: none;
  }
}

.content{
    width: 100%;
    min-height: 100vh;
    max-height: 700px;
    overflow: auto;
}
.icon{
    fill: var(--color);
    width: 24px;
    height: 24px;
    padding: 5px;
}


.dot::before{
    content: "•";
    margin: 0 4px;
}
.pt1{
  padding-top: 5px;
}

.pt2{
  padding-top: 10px;
}
.icon.green{
  --color:var(--green) !important;
}

.text-overflow{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.content::-webkit-scrollbar{
  display: none;
}